## **Python com SQLite3**

### **O que é SQL?** <br>
1. SQL significa Linguagem de Consulta Estruturada <br>
2. SQL permite acessar e manipular bancos de dados
3. SQL tornou-se um padrão do American National Standards Institute (ANSI) em 1986, e da International Organization for Standardization (ISO) em 1987.

### **O que é o SQLite?** <br>
SQLite é um banco de dados SQL baseado em arquivo independente. O SQLite vem junto com o Python e pode ser usado em qualquer um dos seus aplicativos Python sem precisar instalar nenhum software adicional.

In [1]:
# Biblioteca
import sqlite3

In [2]:
# Criar um banco de dados
conexao = sqlite3.connect('database')

In [3]:
# Apontar para o banco
cursor = conexao.cursor()

### **1.-Create Table** <br>
CREATE TABLE table_name ( column1 datatype, column2 datatype, column3 datatype, .... )

Os parâmetros de coluna especificam os nomes das colunas da tabela.

O parâmetro datatype especifica o tipo de dados que a coluna pode conter (por exemplo, varchar, integer, date, etc.).

In [4]:
# Criar uma tabela
cursor.execute(
    'CREATE TABLE Minha_Tabela (Data text, Nome text, Idade real)'
)

# Fazer um commit
conexao.commit()

### **2.-Insert Into** <br>
A instrução INSERT INTO é usada para inserir novos registros em uma tabela.

    1. Especifique os nomes das colunas e os valores a serem inseridos:

INSERT INTO table_name (column1, column2, column3, ...)

In [5]:
# Inserindo valores
cursor.execute('INSERT INTO Minha_Tabela VALUES ("01/01/2021", "João", "22")')

In [6]:
cursor.execute('INSERT INTO Minha_Tabela VALUES ("05/01/2021", "Pedro", "22")')

In [7]:
# Importar números aleatórios
import random

# Loop
for loop in range(10):
    # Gerando um número aleatório
    numero = random.randint(10, 20)

    # Inserir informação na minha tabela
    cursor.execute(f'INSERT INTO Minha_Tabela VALUES ("05/01/2011", "João Pedro", {numero})')

### **3.-Select Table** <br>
A SELECT instrução é usada para selecionar dados de um banco de dados.

SELECT * FROM table_name

SELECT column1, column2, ... FROM table_name

In [8]:
# Query de consulta - Todas as colunas
consulta = cursor.execute('SELECT * FROM Minha_Tabela').fetchall()
print(consulta)

[('01/01/2021', 'João', 22.0), ('05/01/2021', 'Pedro', 22.0), ('05/01/2011', 'João Pedro', 16.0), ('05/01/2011', 'João Pedro', 19.0), ('05/01/2011', 'João Pedro', 19.0), ('05/01/2011', 'João Pedro', 14.0), ('05/01/2011', 'João Pedro', 19.0), ('05/01/2011', 'João Pedro', 13.0), ('05/01/2011', 'João Pedro', 20.0), ('05/01/2011', 'João Pedro', 11.0), ('05/01/2011', 'João Pedro', 17.0), ('05/01/2011', 'João Pedro', 17.0)]

In [9]:
# Query de consulta - Colunas específicas
consulta = cursor.execute('SELECT Nome, Idade FROM Minha_Tabela').fetchall()

#Loop
for linha in consulta:
    print(linha)

('João', 22.0)
('Pedro', 22.0)
('João Pedro', 16.0)
('João Pedro', 19.0)
('João Pedro', 19.0)
('João Pedro', 14.0)
('João Pedro', 19.0)
('João Pedro', 13.0)
('João Pedro', 20.0)
('João Pedro', 11.0)
('João Pedro', 17.0)
('João Pedro', 17.0)

### **4.-Where** <br>
A WHERE cláusula é usada para filtrar registros. <p>
*SELECT column1 FROM table_name WHERE condition;* <br> <br>
**Operadores**
1. '='	Igual
2. '>'	Maior	
3. '<'	Menor	
4. '>='	Maior ou Igual	
5. '<='	Menor ou Igual	
6. '<>'	Diferente	
7. 'BETWEEN'	Entre	
8. 'LIKE'	Procurar por padrão	
9. 'IN'	Para especificar vários valores possíveis para uma coluna

In [20]:
# Query usando o Igual "="
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome = 'Pedro'
    '''
).fetchall()

print(consulta)

[('05/01/2021', 'Pedro', 22.0)]

In [18]:
# Query usando o Maior Que ">"
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade > 21
    '''
).fetchall()

print(consulta)

[('01/01/2021', 'João', 22.0), ('05/01/2021', 'Pedro', 22.0)]

### **5.-Between**

In [21]:
# Query usando o Between
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE idade BETWEEN 15 AND 20
    '''
).fetchall()

for linha in consulta:
  print(linha)

('05/01/2011', 'João Pedro', 16.0)
('05/01/2011', 'João Pedro', 19.0)
('05/01/2011', 'João Pedro', 19.0)
('05/01/2011', 'João Pedro', 19.0)
('05/01/2011', 'João Pedro', 20.0)
('05/01/2011', 'João Pedro', 17.0)
('05/01/2011', 'João Pedro', 17.0)